@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@import "../../node_modules/antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

.navbar {
  z-index: 3000;
  font-family: "Poppins", sans-serif;
  font-weight: 600 !important;
}

.navbar ul li .nav-link {
  text-decoration: none;

  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  color: black !important;
  letter-spacing: 0.5px;
}

.navbar ul li {
  margin-left: 1rem;
}

.cool-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fba211;
  transition: width 0.3s;
}

.cool-link:hover::after {
  width: 100%;
}

.nav-top-bar a {
  text-decoration: none;
  font-weight: 400;
  font-size: 13.464px;
  z-index: 3000;
}

.nav-top-bar a:hover {
  text-decoration: none !important;
}
.nav-top-bar a:visited {
  text-decoration: none !important;
}

.btn-login {
  background-color: white;
  padding: 10px 2rem 10px 2rem;

  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  color: rgba(244, 107, 69, 1);
}

.btn-login:hover {
  background-color: white;
  color: rgba(244, 107, 69, 1);
}

.btn-signup {
  background-color: #fba211;
  padding: 10px 2rem 10px 2rem;

  border-radius: 50px;
  font-weight: 600;
  font-size: 15px;
  color: white;
}

.btn-signup:hover {
  background-color: #fba211;
  color: white;
}

.btn-danger {
  border-radius: 50px;
  color: white !important;
}
